@model Discussion

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-9">
        <div class="card discussion mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="row mb-3" style="display: inline-block;">
                        <img class="img-thumbnail rounded-circle shadow-sm"
                             style="height: 15vh; width: 15vh; padding: 0;"
                             src="@Url.Content("~/profile/" + Model.ApplicationUser?.ImageFilename)"
                             alt="@Model.ApplicationUser?.Name 's Photo" />
                        <span class="text-muted">@Model.ApplicationUser?.Name : @Model.CreateDate</span>
                    </div>
                </div>

                <div class="row">
                    <div class="row mb-3" style="text-align: center;">
                        <h1>@Model.Title</h1>
                    </div>

                    @if (ViewBag.ImageFiles.Contains(Model.ImageFilename))
                    {
                        <div class="row mb-3" style="justify-content: center;">
                            <img src="@Url.Content("~/images/" + Model.ImageFilename)" style="width: auto;" />
                        </div>
                    }

                    <div class="row mb-3" style="justify-content: center;">
                        <p style="width: 75%;">@Model.Content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 align-content-center">
        <div class="row mb-3">
            <button class="btn btn-primary">
                <a style="color: white; text-decoration: none; display:block; width: 100%" asp-action="Edit" asp-route-id="@Model?.DiscussionId">Edit</a>
            </button>
        </div>
        <div class="row mb-3">
            <button class="btn btn-primary">
                <a style="color: white; text-decoration: none; display:block; width: 100%" asp-action="Index" >Back to List</a>
            </button>
        </div>
    </div>
</div>
    


